# Копирай този файл като .env и попълни стойностите

# PostgreSQL от Neon.tech (Pooled connection)
DATABASE_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"

# PostgreSQL от Neon.tech (Direct connection - за миграции)
DIRECT_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# Произволен таен ключ - генерирай на: https://generate-secret.vercel.app/32
JWT_SECRET="смени-с-произволен-ключ-от-минимум-32-символа"

NEXT_PUBLIC_APP_NAME="HODLClub Courses"
